﻿.body-wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
}

.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 100%;
    justify-content: center;
}

.chat {
    width: 100%;
}

.chat-header {
    background-color: #eee;
    color: #4a4a4a;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px 5px 0 0;
}

.chat-body {
    height: 300px;
    border: 1px solid #eee;
    text-align: left;
    overflow: auto;
}

.message {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-time {
    font-weight: 100;
    color: #4a4a4a;
}

.message-text {
    color: #4a4a4a;
}

.chat-footer__form-send {
    display: flex;
}

.chat-footer__input-send {
    width: 91%;
    height: 46px;
    padding-left: 10px;
    border: 1px solid #eee;
    outline: none;
}

.chat-footer__form-send {
    height: 46px;
    border-radius: 0px;
}
